//$primary-color: #4c8054;
$primary-color: #158051;
$white-color: #ffffff;
$primary-color-text: #158051;
$text-black: #0F1029;
$text-gray: #959595;
$bg-gray: #aeaeae;
$card-bg: #F8F5F2;
$additional-bg-color: #F8F5F2;
$additional-color: #ECECEC;
$additional-color-2: #C9C9C9;
$shadow-1: 0px 3px 4px 0px rgba(0, 0, 0, 0.01);
$rating-color: #f3bc75;
