*{
  margin: 0;
  box-sizing: border-box;
  &:before,&:after{
    box-sizing: border-box;
  }
}

body{
  //font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #ffffff;
  color: #000;
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select{
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}

img,video,canvas,svg{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-control{
    border: 1px solid #000000 !important;
    border-radius: 0 !important;
    padding: 8px 15px !important;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #c8c8c8 !important;
    transition: all 0.3s ease;
    &:focus{
        border-color: $primary-color;
      outline: none;
      box-shadow: none !important;
    }

  &::placeholder {
    color: #4d4d4d !important;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #4d4d4d !important;
  }

}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

//fs-12px-fs-30px
.fs-12px{
    font-size: 12px;
}

.fs-14px{
    font-size: 14px;
}

.fs-16px{
    font-size: 16px;
}

.fs-17px{
  font-size: 17px;
}

.fs-18px{
    font-size: 18px;
}

.fs-20px{
    font-size: 20px;
}

.fs-21px{
  font-size: 21px;
}

.fs-24px{
    font-size: 24px;
}

.fs-25px{
    font-size: 25px;
}

.fs-30px{
    font-size: 30px;
}

.fs-38px{
    font-size: 38px;
}

.fs-60px{
  font-size: 60px;
}

//fw-400-fs-600
.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.text--primary{
  color: $primary-color !important;
}

.bg--primary{
  background-color: $primary-color;
}

.card-bg{
    background-color: $card-bg;
}

.text-cs-secondary{
  color: $text-gray;
}

.gray-bg{
  background-color: #c8c8c8;
}


.text-cs-black{
  color: $text-black;
}

.work-dropdown.active,
.work-dropdown.show{
    background-color: #aeaeae;
}

.work-dropdown:not(.active) #collapsible-nav-dropdown,
.work-dropdown:not(.show) #collapsible-nav-dropdown {
    color: #ffffff !important;
}

.work-dropdown.active #collapsible-nav-dropdown,
.work-dropdown.show #collapsible-nav-dropdown{
    color: #000000 !important;
}


.navbar-custom {
  .nav-link{
    font-size: 18px;
    font-weight: 600;
    color: $white-color;
    padding: 10px 25px !important;
    line-height: 60px;

    &:hover{
      color: $primary-color !important;
      background-color: $bg-gray;
    }

    &.active{
      color: #000000 !important;
      background-color: $bg-gray;
    }
  }

  .dropdown-toggle::after{
    transform: rotate(-90deg);
    margin-left: 5px;
    margin-bottom: 0;
  }

  .btn-cs-underline {
    &::after {
      width: calc(100% - 32px);
      left: 16px;
    }
  }
}

.btn-cs-underline{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: $primary-color;
  }
}

.section{
    padding: 60px 0;
}

.section-overlaps{
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-title{
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: "Philosopher", sans-serif;
}

.section-subtitle{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
}

.navbar-custom .active.nav-item.dropdown .dropdown-toggle{
  color: $primary-color;
}

.btn.btn-primary{
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 40px;
    &:hover,
    &:focus,
    &:active{
        background-color: darken($primary-color, 10%);
    }

}

.ratingSwiper{
  overflow: visible !important;
  .swiper-button-next{
    right: -25px;
  }
    .swiper-button-prev{
        left: -25px;
    }
  .swiper-button-next,
  .swiper-button-prev{
    &.swiper-button-disabled{
      opacity: 0;
    }
    width: 50px;
    height: 50px;
    background-color: $rating-color;
    border-radius: 50%;
    &::after{
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
    }
  }
}


.navbar-collapse.collapse{
  height: 100%;
}

.ms-auto.navbar-nav{
  height: 100%;
  background-color: $primary-color;
  padding-left: 20px;
}

.header-swiper .swiper-button-prev:after,
.header-swiper .swiper-button-next:after{
    font-size: 25px;
    color: $primary-color;
}

.quote-icon{
  width: 60px;
  margin-bottom: 20px;
}

.md-image-wrap{
  &::after{
    content: '';
    position: absolute;
    left: -7px;
    bottom: -7px;
    width: 20px;
    height: 20px;
    z-index: 2;
    background-color: $primary-color;
  }
}

.md-speach{
    font-size: 35px;
    line-height: 35px;
  font-family: "Philosopher", sans-serif;

  span{
    background-color: $primary-color;
  }
}

.client-bg{
  background-image: url("/images/client-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.client-logo{
  height: 80px;
  display: block;
  margin: 0 auto;
}

.swiper.team-swiper {
  width: 100%;
  padding-top: 50px;
}

.team-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50% !important;
  //height:  !important;
}

.team-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.team-swiper .swiper-slide-fully-visible.swiper-slide-active::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  z-index: -1;
  background-color: $primary-color;
}

.team-swiper .swiper-slide-fully-visible.swiper-slide-active .team-info{
  opacity: 1;
  //height: fit-content;
  transition: all 0.3s ease;
}

.team-swiper.swiper-3d .swiper-slide-shadow-right,
.team-swiper.swiper-3d .swiper-slide-shadow-left{
  background-image: none;
}

.team-swiper .swiper-slide.swiper-slide-visible.swiper-slide-prev,
.team-swiper .swiper-slide.swiper-slide-visible.swiper-slide-next{
  filter: brightness(50%);
}

.team-info{
  color: $primary-color;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  //height: 0;
}

.team-info .team-name{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-top: 10px;
}

.team-info .team-position{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.team-info .team-description{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

#home,
.work-page{
  padding-top: 90px;
}

.work-dropdown .dropdown-menu.show{
  background-color: $primary-color;
  border-radius: 0;
}

.work-dropdown .dropdown-menu .dropdown-item{
  color: #ffffff;
}

.work-dropdown .dropdown-menu .dropdown-item:hover,
.work-dropdown .dropdown-menu .dropdown-item:focus,
.work-dropdown .dropdown-menu .dropdown-item:active,
.work-dropdown .dropdown-menu .dropdown-item.active{
  background-color: #ffffff;
  color: $primary-color;
}

.work-dropdown #collapsible-nav-dropdown::after{
  transform: rotate(0deg);
  margin-left: 5px;
  top: 5px;
}

.event-card-wrap{
  overflow: hidden;
}

.event-card{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.event-card:hover {
  transform: scale(1.01);
}

.event-card-content{
  height: 300px;
  background-color: rgba(70, 70, 70, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
}

.event-card-content .event-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.goon-image{
  display: block;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contact-thumb{
  height: 80px;
  position: relative;
  z-index: 2;
}

section#contact{
  //padding-top: 50px;
}

.contact-title{
  margin-bottom: 0;
  font-size: 30px;
  background-color: $primary-color;
  color: #ffffff;
  padding: 10px 50px;
  font-family: "Philosopher", sans-serif;
  border-radius: 0 10px 10px 0;
  margin-left: -7px;
}

.contact-info-card{
    background-color: #86bd8d;
    padding: 20px;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 170px;
}

.contact-form-title{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
}

.contact-form-title{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: "Philosopher", sans-serif;
  text-align: center;
}

.contact-form-card{
  border-radius: 0 !important;
}

.contact-form-card .card-body{
    padding: 30px;
}

.contact-info-title{
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 600;
}

.contact-info-item .title{
    font-size: 16px;
    font-weight: 700 !important;
    margin-bottom: 0px;
}

.contact-info-item p:not(.title){
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.file {
  display: none;
}

.attach-btn{
  height: 40px;
}

.file-name {
  position: relative;
  overflow: hidden;
  line-height: 30px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  vertical-align: middle;
  width: 300px;
  border: 2px solid #dbdbdb;
  border-radius: 0;
  height: calc(2em + 0.75rem + 2px);
}

.location-wrap{
  height: 150px;
}

.location-wrap iframe{
    height: 300px;
  width: 100%;
  border: 2px solid $primary-color;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 260px;
  grid-auto-flow: dense;
  margin: 10px auto;
  padding: 0 10px;
}

.gallery__item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gallery__item > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery__item--hor {
  grid-column: span 2;
}

.gallery__item--hor-3 {
  grid-column: span 3;
}

.gallery__item--vert {
  grid-row: span 2;
}

.gallery__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}

.work-page{
  min-height: 100vh;
}

.attach-btn-wrap{
  width: 22px;
  flex-grow: 0;
}

#file-name{
  flex-grow: 1;
}


@media only screen and (max-width: 2400px) {
  .client-bg{
    background-size: 180%;
  }
}




@media only screen and (max-width: 1399.98px) {
  .client-bg{
    background-size: 180%;
  }
}


@media only screen and (max-width: 1199.98px) {


}


@media only screen and (max-width: 991.98px) {

  .navbar-collapse.collapse{
    height: unset;
  }

  .ms-auto.navbar-nav{
    height: unset;
    padding-left: 0;
  }

  .navbar-custom {
    .nav-link {
      font-size: 18px;
      padding: 10px 25px !important;
      line-height: 20px;
    }
  }

  .client-bg{
    background-size: 400%;
  }

}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {
  .client-bg{
    background-size: 580%;
  }

  .md-speach{
    text-align: center !important;
  }

  .quote-icon{
    width: 40px;
    margin-bottom: 10px;
  }

  .md-speach{
    font-size: 25px;
    line-height: 25px;
  }

  .team-swiper .swiper-slide{
    width: 70% !important;
  }

  .team-info .team-name{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 7px;
  }

  .team-info .team-position{
    font-size: 14px;
  }

  .team-info .team-description{
    font-size: 12px;
  }

  .event-card-content{
   height: 180px;
  }

  .section-title{
    font-size: 25px;
  }

  .event-card-content .event-title{
    font-size: 17px;
    text-align: center;
  }

  .contact-title{
   font-size: 20px;
    padding: 10px 30px;
  }
  .contact-thumb {
    height: 50px;
  }

  .contact-info-card{
    margin-bottom: 100px;
  }

  .location-wrap{
    height: 100px;
  }

  .location-wrap iframe{
    height: 180px;
  }

  .contact-form-title {
    font-size: 22px;
  }

  #home,
  .work-page{
    padding-top: 75px !important;
  }

  .gallery__item--hor-3 {
    grid-column: span 2  !important;
  }
  .gallery__item--hor-1 {
    grid-column: span 2 !important;
  }

  .gallery__item--hor{
    grid-column: span 2 !important;
  }

  .gallery__item:not(.gallery__item--hor),
  .gallery__item:not(.gallery__item--hor-1),
  .gallery__item:not(.gallery__item--hor-3){
    grid-column: span 2 !important;
  }

  .gallery{
    padding: 0;
  }

}



